<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue">
    <button @click="handleBtnClick">提交</button>
    <ul>
        <!--<li v-for="item in list">{{item}}</li>-->
        <!--监听delete事件-->
        <todo-item :content="item"
                   :index="index"
                   v-for="(item, index) in list"
                   @delete="handleItemDelete"></todo-item>
    </ul>
</div>

<script>

    // 全局组件，不需在app中注册即可使用
    // Vue.component("TodoItem", {
    //     props: ['content'],
    //     template: "<li>{{content}}</li>"
    // })

    // 局部组件，需在app中注册才可使用
    var TodoItem = {
        props: ['content', 'index'],
        template: "<li @click='handleItemClick'>{{content}}</li>",
        methods: {
            handleItemClick: function () {
                // 子组件向外触发delete事件，同时把index作为参数传给父组件
                this.$emit("delete", this.index);
            }
        }
    }

    var app = new Vue({
        el: '#app',
        components: {
            // 后一个TodoItem代表之前叫L27定义的TodoItem，前一个TodoItem代表新的名字叫做TodoItem
            TodoItem: TodoItem
        },
        data: {
            list: [],
            inputValue: ''
        },
        methods: {
            handleBtnClick: function () {
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            handleItemDelete: function (index) {
                this.list.splice(index, 1)
            }
        }
    })
</script>
</body>
</html>